{% extends 'layout.html' %}
{% load static %}
{% load blog_category %}

{% block content %}

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area"
    style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Blog Details</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">right sidebar</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Our Blog Area -->
<section class="blog-details-wrap ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="blog-details-left-sidebar">
                    <div class="blog-details-top">
                        <!--Start Blog Thumb -->
                        <div class="blog-details-thumb-wrap">
                            <div class="blog-details-thumb">
                                <img src="{{ blog.img.url }}" alt="blog images">
                            </div>
                            <div class="upcoming-date">
                                {{ blog.created_at|date:"d" }}<span
                                    class="upc-mth">{{ blog.created_at|date:"M, Y" }}</span>
                            </div>
                        </div>
                        <!--End Blog Thumb -->
                        <h2>{{ blog.title }}</h2>
                        <div class="blog-admin-and-comment">
                            <p>BY : <a href="#">{{ blog.created_by }}</a></p>
                            <p class="separator">|</p>
                            <p>{{ comments|length }} COMMENTS</p>
                        </div>
                        <!-- Start Blog Pra -->
                        <div class="blog-details-pra">
                            <p>{{ blog.description }}</p>
                        </div>
                        <!-- End Blog Pra -->
                        <!-- Start Blog Tags -->
                        <div class="postandshare">
                            <div class="post">
                                <p>TAGS :</p>
                            </div>
                            <div class="blog-social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Blog Tags -->
                        <!-- Start Blog Comment Area -->
                        <div class="our-blog-comment mt--20">
                            <div class="blog-comment-inner">
                                <h2 class="section-title-2">COMMENTS ({{ comments|length }})</h2>
                                <!-- Start Single Comment -->
                                {% for comment in comments %}
                                {% if forloop.counter|divisibleby:2 %}
                                <div class="single-blog-comment comment-reply">
                                    {% else %}
                                    <div class="single-blog-comment">
                                        {% endif %}
                                        <div class="blog-comment-thumb">
                                            <img src="{% static 'images/comment/1.jpg' %}" alt="comment images">
                                        </div>
                                        <div class="blog-comment-details" style="width: 100vw;">
                                            <div class="comment-title-date">
                                                <h2><a href="#">{{ comment.name }}</a></h2>
                                                <div class="reply" style="margin-right: 0px;">
                                                    <p>{{ comment.created_at|date:'d M Y' }} / <a href="#">REPLY</a></p>
                                                </div>
                                            </div>
                                            <p>{{ comment.comment_text }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- End Single Comment -->
                                </div>
                            </div>
                            <!-- End Blog Comment Area -->
                            <!-- Start Reply Form -->
                            <div class="our-reply-form-area mt--20">
                                <h2 class="section-title-2">LEAVE A REPLY</h2>
                                <form id="reply_form" method="post">
                                    {% csrf_token %}
                                    <div class="reply-form-inner mt--40">
                                        <div style="display: grid; grid-template-columns: repeat(12, 1fr); gap: 1.5rem;">
                                            {% if form.name.errors %}
                                            <div class="alert alert-danger" style="grid-column: 1/7;">
                                                {{ form.name.errors }}
                                            </div>
                                            {% endif %}
                                            {% if form.email.errors %}
                                                <div class="alert alert-danger" style="grid-column: 7/13;">
                                                    {{ form.email.errors }}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="reply-form-box" style="height: 54px;">
                                            <div class="reply-form-box-inner">
                                                <div class="rfb-single-input">
                                                    {{ form.name }}
                                                </div>
                                                <div class="rfb-single-input">
                                                    {{ form.email }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-form-box">
                                            

                                            {% if form.comment_text.errors %}
                                                <div class="alert alert-danger">
                                                    {{ form.comment_text.errors }}
                                                </div>
                                            {% endif %}
                                            {{ form.comment_text }}
                                        </div>
                                        <div class="blog__details__btn">
                                            <a class="htc__btn btn--gray" role="button"
                                                onclick="document.getElementById('reply_form').submit()">submit</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End Reply Form -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 smt-30 xmt-40">
                    <div class="blod-details-right-sidebar">
                        <div class="category-search-area">
                            <form id="blog-search-form" action="{% url 'search_blog' %}">
                                <input name="search-blog" placeholder="Search......" type="text">
                                <a class="srch-btn" onclick="document.getElementById('blog-search-form').submit()"><i class="zmdi zmdi-search"></i></a>
                            </form>
                        </div>
                        <!-- Start Category Area -->
                        <div class="our-category-area mt--60">
                            <h2 class="section-title-2">CATEGORY</h2>
                            <ul class="categore-menu">
                                {% for category in categories %}
                                <form id="myCustom{{ category.category_name }}form" action="{% url 'search_blog' %}">
                                    <input type="hidden" name="search-blog" value="{{ category.category_name }}">
                                    <li><a onclick="document.getElementById(`myCustom{{ category.category_name }}form`).submit()"><i class="zmdi zmdi-caret-right"></i>{{ category.category_name }} <span>{{ category|blog_category }}</span></a></li>
                                </form>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End Category Area -->
                        <!-- Start Letaest Blog Area -->
                        <div class="our-recent-post mt--60">
                            <h2 class="section-title-2">LATEST POST</h2>
                            <div class="our-recent-post-wrap">
                                {% for blog in latest %}
                                    <!-- Start Single Post -->
                                    <div class="single-recent-post">
                                        <div class="recent-thumb">
                                            <a href="{% url 'blog_details' blog.slug %}"><img src="{{ blog.img.url }}"
                                                    alt="{{ blog.title }} images"></a>
                                        </div>
                                        <div class="recent-details">
                                            <div class="recent-post-dtl">
                                                <h6><a href="{% url 'blog_details' blog.slug %}">{{ blog.title }}</a></h6>
                                            </div>
                                            <div class="recent-post-time">
                                                <p>{{ blog.created_at|date:"d M Y" }}</p>
                                                <p class="separator">|</p>
                                                <p>{{ blog.created_at|date:"H : i" }} PM</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Post -->
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Letaest Blog Area -->
                        <!-- Start Tag -->
                        <div class="our-blog-tag">
                            <h2 class="section-title-2">TAGS</h2>
                            <ul class="tag-menu mt-40">
                                {% for tag in tags %}
                                <form id="myCustom{{ tag.name }}form" action="{% url 'search_blog' %}">
                                    <input type="hidden" name="search-blog" value="{{ tag.name }}">
                                    <li><a onclick="document.getElementById(`myCustom{{ tag.name }}form`).submit()" name="search-blog">{{ tag.name }}</a></li>
                                </form>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End Tag -->
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- End Our Blog Area -->
{% endblock content %}