{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% load i18n %}

    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">{% trans 'Blog' %}</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="{% url 'index' %}">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb-item active">Blog</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start BLog Area -->
    <div class="htc__blog__area bg__white ptb--120">
        <div class="container">
            <div class="row">
                <div class="blog__wrap blog--page clearfix">
                    <!-- Start Single Blog -->
                    
                    {% if blogs %}
                        {% for blog in blogs %}                        
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__inner">
                                    <div class="blog__thumb">
                                        <a href="{% url 'blog_details' blog.slug %}">
                                            <img style="max-height: 208px;" src="{{ blog.img.url }}" alt="blog images">
                                        </a>
                                        <div class="blog__post__time">
                                            <div class="post__time--inner">
                                                <span class="date">{{ blog.created_at|date:"d"}}</span>
                                                <span class="month">{{ blog.created_at|date:"M"}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog__hover__info">
                                        <div class="blog__hover__action">
                                            <p class="blog__des"><a href="{% url 'blog_details' blog.slug %}">{{ blog.title | truncatechars:50 }}</a></p>
                                            <ul class="bl__meta">
                                                <li>By :<a href="{% url 'blog_details' blog.slug %}">{{ blog.created_by }}</a></li>
                                                <li>Product</li>
                                            </ul>
                                            <div class="blog__btn">
                                                <a class="read__more__btn" href="{% url 'blog_details' blog.slug %}">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div style="width: 100%; text-align: center; font-size: large; font-weight: 600;">Opps nothing in here. Please return to <a style="color: #ff4136;" href="{% url 'blog' %}">blog page</a></div>
                    {% endif %}
                        
                    <!-- End Single Blog -->
                    
                </div>
            </div>
            <!-- Start Pagination -->
            {% if is_paginated %}
                <div style="display: flex; justify-content: center;">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for page in paginator.page_range %}
                            {% if page_obj.number == page %}
                                <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <!-- End Pagination -->
        </div>
    </div>
    <!-- End BLog Area -->
{% endblock content %}
