{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/5.jpg' %}) no-repeat scroll center center / cover; padding: 6rem 0 6rem 0">
    <div class="container">
        <p style="margin-bottom: 1rem; font-size: 18px; font-family: 'Poppins', sans-serif;">
            Type your e-mail address to reset your password.
        </p>
        <div class="container">
            <form id="forget_password_form" action="" method="Post" class="forget_password_content">
                {% csrf_token %}
                {% if forget_form.email.errors %}
                    <div class="alert alert-danger">{{ forget_form.email.errors }}</div>
                {% endif %}
                {{ forget_form.email }}
                <div class="htc__login__btn mt--30">
                    <a role="button" onclick="document.getElementById('forget_password_form').submit()">Send</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    