{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="htc__login__register bg__white ptb--130"
        style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/5.jpg' %}) no-repeat scroll center center / cover ;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <ul class="login__register__menu" role="tablist">
                        <li role="presentation" class="register"><a href="#change_password" role="tab"
                                data-toggle="tab">Reset Password</a></li>
                    </ul>
                </div>
            </div>
            <!-- Start Login Register Content -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="htc__login__register__wrap">
                        <!-- Start Single Content -->
                        <div id="change_password" role="tabpanel" class="single__tabs__panel tab-pane fade">
                            <form id="register_form_custom" class="login" method="post">
                                {% csrf_token %}

                            </form>
                            <div class="htc__login__btn">
                                <a role="button" onclick="document.getElementById('register_form_custom').submit()">Save
                                    Password</a>
                            </div>
                        </div>
                        <!-- End Single Content -->
                    </div>
                </div>
            </div>
            <!-- End Login Register Content -->
        </div>
    </div>
{% endblock content %}